# Core
Flask==3.0.3
Jinja2==3.1.4
python-dotenv==1.0.1

# Database
Flask-SQLAlchemy==3.1.1

# Auth
Flask-JWT-Extended==4.6.0
Flask-Bcrypt==1.0.1
PyJWT==2.8.0

# ML + Data
pandas==2.2.3
numpy==1.26.4

# Server (Render)
gunicorn==21.2.0

